.card {
    width: calc(50% - 15px);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 10px;
}

.cardImages {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.cardPreview {
    width: 100%;
    border-radius: 8px;
}

.cardBookmarkWrapper {
    display: flex;
    padding: 10px;
    border-radius: 50%;
    background-color: rgba(16, 20, 30, 0.4);
    position: absolute;
    right: 10px;
    top: 10px;
}

.cardBookmark {
    width: 16px;
    height: auto;
}

.cardText {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cardText p {
    font-weight: 200;
    color: rgb(255, 255, 255, 0.75);
}

.cardInfo {
    display: flex;
    align-items: center;
    gap: 14px;
}

.cardInfo p {
    position: relative;
    font-size: 12px;
    font-weight: 100;
}

.cardCategory::before,
.cardRating::before {
    content: "";
    position: absolute;
    background-color: rgb(255, 255, 255, 0.75);
    width: 3px;
    height: 3px;
    left: -9px;
    top: 51%;
    transform: translateY(-50%);
    border-radius: 50%;
}

.cardTitle {
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
}
