.card {
    width: calc(50% - 15px);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cardImages {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.cardPreview {
    width: 100%;
    border-radius: 8px;
}

.cardBookmarkWrapper {
    display: flex;
    padding: 8px;
    border-radius: 50%;
    background-color: rgba(16, 20, 30, 0.4);
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    outline: none;
    transition: 0.1s ease-in;
}

.cardBookmarkWrapper:hover {
    cursor: pointer;
    background-color: white;
    transition: 0.1s ease-in;
}

.cardBookmarkWrapper:hover svg {
    stroke: black;
    transition: 0.1s ease-in;
}

.cardBookmarkWrapper:hover .active {
    fill: black;
    transition: 0.1s ease-in;
}

.cardBookmark {
    width: 24px;
    height: auto;
    color: white;
    stroke: white;
    transition: 0.1s ease-in;
}

.cardText {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cardText p {
    font-weight: 200;
    color: rgb(255, 255, 255, 0.75);
}

.cardInfo {
    display: flex;
    align-items: center;
    gap: 14px;
}

.cardInfo p {
    position: relative;
    font-size: 12px;
    font-weight: 100;
}

.cardIconWrapper {
    display: flex;
}

.cardRating::before,
.cardIconWrapper::before {
    content: "";
    position: absolute;
    background-color: rgb(255, 255, 255, 0.75);
    width: 3px;
    height: 3px;
    left: -9px;
    top: 51%;
    transform: translateY(-50%);
    border-radius: 50%;
}

.cardCategoryWrapper {
    display: flex;
    gap: 8px;
    align-items: center;
}

.cardTitle {
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
}

@media only screen and (min-width: 768px) {
    .card {
        width: calc((100% / 3) - 0.9375rem);
        gap: 20px;
    }

    .cardImages {
        flex: 1;
    }

    .cardTitle {
        font-size: 1.125rem;
    }

    .cardInfo p {
        font-size: 0.8125rem;
    }
}

@media only screen and (min-width: 1024px) {
    .card {
        width: calc((100% / 4) - 0.9375rem);
        gap: 20px;
    }

    .cardImages {
        flex: 1;
    }
}

@media only screen and (min-width: 1440px) {
    .card {
        width: calc((100% / 4) - 0.9375rem);
    }

    .cardImages {
        width: 90%;
        flex: 1;
        max-height: 410px;
    }
}

@media only screen and (min-width: 1880px) {
    .card {
        width: calc((100% / 6) - 0.9375rem);
    }

    .cardImages {
        min-height: 400px;
    }
}
