.castWrapper {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cast {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    touch-action: none;
    user-select: none;
}

.castList {
    list-style: none;
    display: flex;
    gap: 15px;
}

.castItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    min-width: 35%;
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255, 0.5);
}

.castItem img {
    width: 100%;
    height: auto;
    flex: 1;
    border-radius: 10px 10px 0 0;
}

.castBackupImage {
    width: 100%;
    height: auto;
    flex: 75%;
    border-radius: 10px 10px 0 0;
}

.castItemText {
    flex: 1;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.castName {
    font-weight: bold;
}

.castCharacter {
    font-size: 0.875rem;
    font-weight: 200;
}

.viewMore {
    width: 35%;
    min-width: 35%;
    display: flex;
    align-items: center;
}

.viewMore a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
    font-weight: 700;
    flex: 1;
}

.viewMore svg {
    width: 24px;
}

.castLink {
    color: white;
    text-decoration: none;
    width: 10%;
    transition: 0.1s ease-in;
}

@media only screen and (min-width: 768px) {
    .castItem {
        width: 20%;
        min-width: 20%;
    }

    .viewMore {
        width: 20%;
        min-width: 20%;
    }
}

@media only screen and (min-width: 1024px) {
    .castItem {
        width: 15%;
        min-width: 15%;
    }

    .viewMore {
        width: 15%;
        min-width: 15%;
    }

    .viewMore a {
        height: 100%;
        display: flex;
        align-items: center;
        transition: 0.1s ease-in;
        border-radius: 10px;
    }

    .viewMore a span {
        display: flex;
    }

    .viewMore a:hover {
        transition: 0.1s ease-in;
        color: black;
        background-color: white;
    }

    .castLink:hover {
        transition: 0.1s ease-in;
        color: #fc4747;
    }
}

@media only screen and (min-width: 1440px) {
    .castItem {
        width: 12%;
        min-width: 12%;
    }

    .viewMore {
        width: 12%;
        min-width: 12%;
    }
}

@media only screen and (min-width: 1880px) {
    .castList {
        -ms-overflow-style: none; /* Internet Explorer 10+ */
        scrollbar-width: none; /* Firefox */
    }
    .castList::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
    }

    .castItem {
        width: 10%;
        min-width: 10%;
    }

    .viewMore {
        width: 10%;
        min-width: 10%;
    }
}
