.cardWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 15px;
}

.bookmarks {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.bookmarksListWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.homeList {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
    justify-content: space-between;
}

.bookmarkedList {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.cardWrapper h2 {
    font-size: 20px;
    font-weight: 200;
    width: 100%;
}

.trending {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.embla {
    overflow: hidden;
    width: 100%;
}

.emblaContainer {
    display: flex;
}

.emblaSlide {
    position: relative;
    min-width: 80%;
    margin-right: 20px;
}

.pageTitle {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.pageTitle h2 {
    text-align: right;
}

.viewMore {
    margin: 0 auto;
    font-size: 1rem;
    padding: 15px 40px;
    background-color: #fc4747;
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
    transition: 0.1s ease-in;
    font-family: "Outfit", Arial, Helvetica, sans-serif;
    margin-top: 15px;
}

.viewMore:hover {
    background-color: white;
    color: black;
    transition: 0.1s ease-in;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .cardWrapper h2 {
        font-size: 2rem;
    }

    .emblaSlide {
        min-width: 65%;
        margin-right: 30px;
    }

    .homeList {
        justify-content: unset;
        gap: 22px;
    }
}

@media only screen and (min-width: 1024px) {
    .emblaSlide {
        min-width: 50%;
    }

    .homeList {
        gap: 20px;
    }
}

@media only screen and (min-width: 1440px) {
    .bodyWrapper {
        display: flex;
        padding: 20px;
    }

    .cardWrapper {
        width: 100%;
        align-content: flex-start;
        padding: 15px 25px;
    }

    .emblaSlide {
        min-width: 40%;
        margin-right: 20px;
    }
}

@media only screen and (min-width: 1880px) {
    .emblaSlide {
        min-width: 30%;
    }

    .homeList {
        gap: 18px;
    }
}
