.cardWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 15px;
}

.bookmarks {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.bookmarksListWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.homeList {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.bookmarkedList {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.cardWrapper h2 {
    font-size: 20px;
    font-weight: 200;
}

.trending {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.embla {
    overflow: hidden;
    width: 100%;
}

.emblaContainer {
    display: flex;
}

.emblaSlide {
    position: relative;
    min-width: 75%;
    margin-right: 15px;
}

@media only screen and (min-width: 768px) {
    .cardWrapper h2 {
        font-size: 2rem;
    }

    .emblaSlide {
        min-width: 65%;
        margin-right: 30px;
    }
}

@media only screen and (min-width: 1440px) {
    .bodyWrapper {
        display: flex;
        padding: 20px;
    }

    .cardWrapper {
        width: 100%;
    }

    .emblaSlide {
        min-width: 40%;
        margin-right: 30px;
    }
}
