.header {
    padding: 16px;
    background-color: #161d2f;
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons {
    display: flex;
    align-items: center;
    gap: 24px;
}

.icons a {
    display: flex;
}

.icon {
    width: 20px;
    height: auto;
    color: #5a698f;
    transition: 0.1s ease-in;
}

.icon:hover,
.icon:focus {
    color: #fc4747;
    transition: 0.1s ease-in;
}

.userLink {
    display: flex;
}

.userImage {
    width: 28px;
    height: auto;
    border: 1px solid white;
    border-radius: 50%;
}

@media only screen and (min-width: 768px) {
    .icons {
        gap: 28px;
    }

    .icon {
        width: 22px;
    }
}

@media only screen and (min-width: 1440px) {
    .header {
        display: flex;
        border-radius: 20px;
        padding: 30px 20px;
        height: calc(100vh - 40px);
        top: 20px;
    }

    .nav {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .icons {
        flex-direction: column;
        flex: 1;
    }

    .userImage {
        width: 40px;
        height: 40px;
    }
}
