.searchBar {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    font-weight: 100;
}

.searchBar img {
    width: 24px;
    height: 24px;
}

.searchInput {
    padding: 0.5rem;
    background: none;
    border: none;
    outline: none;
    flex: 1;
    color: white;
    font-weight: 100;
    font-size: 1rem;
    caret-color: #fc4747;
}

.searchInput:hover,
.searchInput:focus {
    border-bottom: 1px solid #5a698f;
    cursor: pointer;
}

.searchBar button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}
