.cl-userButtonPopoverActionButtonIcon__manageAccount,
.cl-userButtonPopoverActionButtonIcon__signOut {
    color: #fc4747;
}

.cl-userButtonPopoverFooter {
    display: none;
}

@media only screen and (min-width: 1440px) {
    .cl-avatarBox,
    .cl-userButtonAvatarBox {
        width: 40px;
        height: 40px;
    }
}
